html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --background-color: #FFFFFF;
    --background-2-color: #2F303A;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}
.section {
    padding: 94px 0px;
}
.flex {
    display: flex;
}
body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
body ul {
    list-style-type: none;
    padding: 0;
}
.nav > ul {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    margin: 0;
}
.nav li:not(:last-child) {
    margin-right: 50px;
}
.h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin: 0;
}
.header {
    padding: 24px 0px 25px 0px;
    border-bottom: 1px solid #ECECEC;
}
.head.container {
    align-items: center;
    padding: 0px 15px 0px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    justify-content: space-between;
}
.footer {
    background-color: var(--background-2-color);
}
.hero {
    background-color: var(--background-2-color);
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin: 0;
    padding: 0;
}
.section.hero {
    padding: 200px 0px;
}
.main-text {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
}
.benefits {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    grid-gap: 30px;
}
.benefits li {
    width: 270px;
}
.benefits p {
    margin: 0;
}
.benefits h3 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
}
.container.examples {
    flex-direction: column;
}
.examples h2 {
    margin-bottom: 50px;
}
.section.example {
    padding-top: 0;
}
.examples.flex {
    grid-gap: 30px;
    margin: 0;
}
.team {
    background-color: #F5F4FA;
}
.team .h2 {
    margin-bottom: 50px;
}
.team-team {
    grid-gap: 30px;
    margin: 0;
}
.team-team li {
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.teammate {
    text-align: center;
    padding: 30px 0px;
}
.teammate h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin: 0px 0px 10px 0px;
}            
.teammate p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    margin: 0;
}
.footer {
    padding: 60px 0px;
}
.footer > div {
    flex-direction: column;
}
.pf-buttons {
    justify-content: center;
    margin: 0px 0px 50px 0px;
}
.portfolio {
    margin: 0;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    grid-gap: 30px;
}
.portfolio h2 {
    text-align: left;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio p {
    margin: 0;
}
.portfolio .pf-item {
    flex-direction: column;
}
.card-footer {
    flex-direction: column;
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.card-footer .h2 {
    margin-bottom: 4px;
}
.logo {
    color: var(--primary-text-color);
    font-family: Raleway, Arial, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    font-style: normal;
    margin-right: 93px;
    padding: 0px;
}
.logo-color1 {
    color: var(--accent-color);
}
.logo-f {
    color: #FFFFFF;
    margin-bottom: 20px;
}
.logo-f-container {
    margin: 0;
}
.logo-f-container .link:first-child {
    margin: 0;
}
.logo-f-container .link{
    margin: 9px 0 0 0;
}
.link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-style: normal;
}
.link.current {
    color: var(--accent-color);
}
.link.contact {
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    margin-left: 30px;
    align-items: center;
}
.icon-contact {
    margin-right: 10px;
}
.link.contact-f {
    color: #FFFFFF99;
}
.link:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
}
.link:focus{
    color: var(--accent-color);
}
.link-white {
    color: #FFFFFF;
}
.button {
    color: var(--primary-text-color);
    cursor: pointer;
    font-family: inherit;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    height: 38px;
    border: 1px;
    border-radius: 4px;
    padding: 6px 22px;
}
.button:hover {
    color: #FFFFFF;
    background-color: var(--accent-color);
    height: 38px;
    border: 1px;
    border-radius: 4px;
    padding: 6px 22px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
    height: 38px;
    border: 1px;
    border-radius: 4px;
    padding: 6px 22px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    }
.btn {
    margin-right: 8px;
}
.btn:last-child {
    margin-right: 0px;
}
.button.hero {
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    height: 50px;
    min-width: 200px;
    border: 1px;
    border-radius: 4px;
    letter-spacing: 0.06em;
    margin: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.no-display {
    display: none;
}
.sec-text {
    color: var(--secondary-text-color);
}
.icon-bn {
    background-color: #F5F4FA;
    height: 120px;
    border-radius: 4px;
    padding: 25px 102.34px;
    margin-bottom: 30px;
}